<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="27db02e7-d469-4b3f-9ce5-4e0a5220d2c9" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="27db02e7-d469-4b3f-9ce5-4e0a5220d2c9fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
